
@{
    ViewData["Title"] = "Index";
}

<h1>لیست کاربران سامانه</h1>

<section>

     


    <div class="row">
        <div class="k-rtl">
            <div id="grid"></div>
        </div>
    </div>


</section>





<div class="modal-success mr-1 mb-1 d-inline-block">
  
    <!-- Modal -->
    <div class="modal fade text-left" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel110" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="myModal"></div>
            </div>
        </div>
    </div>
</div>











@section Scripts
{
    <script>
        $(document).ready(() => {
            LoadGrid();
        });

    </script>

    <script>

        function LoadGrid() {

            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/AdminPanel/UserManager/GetAllUser",
                            type: 'POST',
                            //beforeSend: function (req) {
                            //    req.setRequestHeader('Authorization', token);
                            //}

                        }
                    },
                    schema: {
                        data: "data",
                        total: "total"
                    },
                    pageSize: 7,
                    serverPaging: false,
                    serverOperation: false,
                    serverFiltering: false
                },
                pageable: true,
                scrollable: true,
                sortable: true,
                groupable: {
                    messages: {
                        empty: "برای گروه بندی بر اساس ستون روی عنوان ستون مربوطه کلیک کرده و به اینجا بکشید"
                    }
                },

                // filterable:true,
                filterable: {
                    mode: "menu",
                    extra: true,
                    operators: {
                        "string": {
                            "contains": "شامل شود به",
                            "equal": "برابر با"

                        } 
                    },
                    messages: {
                        info: "فیلتر بر اساس ... ",
                        and: "و",
                        or: "یا",
                        filter: "فیلتر",
                        clear: "کنسل"
                    }
                },
                //   detailInit: detail,


                dataBound: function(e) {

                    console.log(e.sender._data);

                    //var grid = this;

                    //grid.tbody.find(".done").each(function (e) {

                    //    var row = $(this).closest("tr");

                    //    var model = grid.dataItem(row);

                    //    $(this).kendoProgressBar({
                    //        max: model.total,
                    //        value: model.done
                    //    });

                    //    $(this).find(".k-state-selected").each(function () {
                    //        $(this).css({
                    //            "background-color": "rgb(25, 224, 109)", "border-color": "rgb(25, 224, 109)"
                    //        });
                    //    });

                    //});

                    //grid.tbody.find(".remain").each(function (e) {

                    //    var row = $(this).closest("tr");

                    //    var model = grid.dataItem(row);

                    //    $(this).kendoProgressBar({
                    //        max: model.total,
                    //        value: (model.total - model.done)
                    //    });

                    //    $(this).find(".k-state-selected").each(function () {
                    //        $(this).css({
                    //            "background-color": "rgb(255, 189, 0)", "border-color": "rgb(255, 189, 0)"
                    //        });
                    //    });

                    //});


                },
                columns: [

                    {
                        field: "userName",
                        title: "نام کاربری",
                        width: "100px",
                        attributes: {
                            style: "text-align:center;"
                        }
                    },
                    {
                        field: "firstName",
                        title: "نام",
                        width: "100px",
                        attributes: {
                            style: "text-align:center;"
                        }
                    },
                    {
                        field: "lastName",
                        title: "نام خانوادگی",
                        width: "115px",
                        attributes: {
                            style: "text-align:center;"
                        }
                    },
                    {
                        field: "personalCode",
                        title: "کد پرسنلی ",
                        width: "110px",
                        attributes: {
                            style: "text-align:center;"
                        }
                    },
                    {
                        field: "meliCode",
                        title: "کدملی",
                        width: "100px",
                        attributes: {
                            style: "text-align:center;"
                        }
                    },
                    {
                        field: "imagePath",
                        title: "تصویر کاربر",
                        width: "105px",
                        template: "<img src='/Images/UserAvatar/#= imagePath #' style='width:50px;height:50px' />",

                        attributes: {
                            style: "text-align:center;"
                        }
                    },
                    {
                        field: "signaturePath",
                        title: "امضا کاربر",
                        width: "100px",
                        template: "<img src='/Images/Signature/#= signaturePath #' style='width:30px;height:30px' />",

                        attributes: {
                            style: "text-align:center;"
                        }
                    }, {
                        field: "gender",
                        title: "جنسیت ",
                        width: "90px",
                        attributes: {
                            style: "text-align:center;"
                        },
                        
                        // template: '#:statusGender(gender)#',
                        template: function(item) {
                            if (item.gender === 1) {
                                return "<i class='fa fa-male text-info bolder'></i>";
                            } else {
                                return "<i class='fa fa-female text-warning bolder'></i>";
                            }
                        }
                    }, {
                        field: "isActive",
                        title: "وضعیت ",
                        width: "90px",
                        attributes: {
                            style: "text-align:center;"
                        },
                        // template: '#:statusisActive(isActive)#'
                        template: function (item) {
                          
                            if (item.isActive === true) {
                                return "<i class='fa fa-check'  style='color:#28a745;'></i>";
                            } else {
                                return "<i class='fa fa-times'  style='color:#dc3545;'></i>";
                            }
                        }
                    },
                    {
                        field: "done",
                        title: "انجام شده",
                        template: "<div class='done' style='height:20px;font-size:12px;width:95%;'></div>",
                        width: "100px",
                        attributes: {
                            style: "text-align:center;"
                        }
                    },
                    {
                        command: [
                            {text: " نمایش ", click: userDetail, iconClass: "fa fa-eye"},
                            { text: " ویرایش ", click: editUser, iconClass: "fa fa-edit"},
                            { text: " حذف ", click: ShowModal, iconClass: "fa fa-remove" }
                        ],
                        attributes: { style: "text-align:center;" },
                        title: "عملیات",
                        media: "(min-width: 400px)"
                    },

                    //{
                    //    field: "remain",
                    //    title: "مانده",
                    //    template: "<div class='remain' style='height:20px;font-size:12px;width:95%;'></div>",
                    //    width: "100px",
                    //    attributes: {
                    //        style: "text-align:center;"
                    //    }
                    //}
                ],
                toolbar: [
                    {
                        template:
                            '<a class="btn btn-success k-button k-button-plus"  href="/AdminPanel/UserManager/AddUser"><span class="k-icon k-i-plus"></span>افزودن کاربر جدید </a>'
                    },
                    {
                        template:
                            '<div style="float:left" class="btn-warning k-button k-button-icontext" onClick="downloadExcel()"><span class="k-icon k-i-file-excel"></span>دانلود اکسل</div>'
                    }
                ]
            });
        }


        function editUser(e) {
            e.preventDefault();
            e.stopPropagation();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var a = document.createElement("a");
            a.href = "/AdminPanel/UserManager/EditUser?userId=" + dataItem.id;
            a.target = "_blank";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }
        
        function userDetail(e) {

            e.preventDefault();
            e.stopPropagation();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var a = document.createElement("a");
            a.href = "/AdminPanel/UserManager/UserDetail?userId=" + dataItem.id;
         //   a.target = "_blank";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);

        }


        function statusGender(e) {

            if (e)
            //    return "<div class='fonticon-wrap'><i class='fa fa-female'></i></div>";
                return "مرد";
            else
            // return "<div class='fonticon-wrap'><i class='fa fa-male'></i></div>";
                return "زن";
        }


        function statusisActive(e) {
            if (e) {
                return "فعال";
            } else {
                return "غیرفعال";
            }
        }


    </script>
    
    <script>
        function ShowModal(e) {

            e.preventDefault();
            e.stopPropagation();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
 


            $.ajax({
                type: "get",
                url: "/AdminPanel/UserManager/ActiveOrDeActiveUser",
                data: { userId: dataItem.id}
            }).done(function(res) {
                $("#modal").modal('show');
                $(".myModal").html(res);
            });


        }
    </script>


}
